<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.teamnine.voice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".VoiceApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".VoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- App INTRO -->
        <activity
            android:name=".AppIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- tab activity -->
        <activity
            android:name=".tab1.VoicePlayerMain"
            android:label="voicePlayerMain"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab1.VoiceEdit"
            android:label="voiceEdit"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab1.VoicePlayer"
            android:label="voicePlayer"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab1.VoiceManaul"
            android:label="voiceManaul"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab2.ListMain"
            android:label="listMain"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab2.CategoryList"
            android:label="categoryList"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab2.VoiceListView"
            android:label="VoiceList"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab3.FavoritesMain"
            android:label="FavoritesMain"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab3.FavoritesList"
            android:label="FavoritesList"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab3.HistoryList"
            android:label="HistoryList"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab5.AppSetting"
            android:label="appSetting"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- notepad activity -->
        <activity
            android:name=".tab4.NotePadList"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".tab4.NotePadMain"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>